<td>
  <h1>
    <%= t('mailers.invalidate_organization.welcome', name: @name) %>
  </h1>
  <p>
     <%= t('mailers.invalidate_organization.text1', title: @title) %>
  </p>
  <p>
    <%= t('mailers.invalidate_organization.thanks') %>
  </p>
</td>
