<div class="conduct_code small-12 column">
  <h2>Código de conducta</h2>
  <p>La inscripción en el Registro de Lobbies lleva aparejado el compromiso de que quien se inscribe va a ajustar su actuación a un código de conducta que ya contempla la propia Ordenanza de Transparencia de la Ciudad de Madrid. Su artículo 37 enumera las obligaciones que integran este código:</p>
  <ol type="a">
    <li>Aceptar que la información proporcionada se haga pública.</li>
    <li>No obtener ni tratar de obtener la información o influir en la toma de decisiones de forma deshonesta.</li>
    <li>Proporcionar información actualizada y no engañosa en el momento de inscribirse en el Registro y de mantenerla actualizada, y garantizar que la que se suministre en cumplimiento de lo dispuesto en la ordenanza es correcta y fidedigna.</li>
    <li>No incitar a los titulares de los órganos directivos a incumplir lo dispuesto en el capítulo VI de la ordenanza.</li>
  </ol>

  <p>La inscripción supondrá, asimismo, el compromiso de no efectuar regalos no permitidos según lo dispuesto en el Acuerdo de 5 de noviembre de 2015 de la Junta de Gobierno de la Ciudad de Madrid por el que se establece el régimen de regalos que reciban el Alcalde, los Miembros de la Junta de Gobierno, los Concejales con responsabilidades de gobierno, los Concejales-Presidentes de los Distritos, los titulares de los órganos directivos y los empleados públicos del Ayuntamiento de Madrid y sus organismos autónomos.

  <p>La inexactitud, falsedad u omisión, de carácter esencial, de cualquier dato o información que se incorpore a la declaración responsable o la no presentación ante el Ayuntamiento de la documentación que sea en su caso requerida para acreditar el cumplimiento de lo declarado, determinará la baja en el registro, la pérdida de los incentivos e imposibilidad de mantener reuniones con concejales, titulares de los órganos directivos del Ayuntamiento de Madrid y sus organismos autónomos y el personal eventual.

  <p>Por otra parte, sobre los concejales, titulares de órganos directivos y personal eventual recae el deber de no celebrar reuniones ni encuentros con personas no inscritas en el Registro de Lobbies (artículos 39 y 40.2 de la ordenanza). El incumplimiento de este deber puede dar lugar a la adopción por parte de la Comisión de Seguimiento de la Ordenanza de Transparencia de alguna de las medidas que contemplan los artículos 41 y 42:

  <ol type="a">
    <li>Solicitar informe para aclarar las circunstancias del presunto incumplimiento.</li>
    <li>Elaborar una recomendación que se publicará en el Boletín Oficial del Ayuntamiento de Madrid y en el Portal de Transparencia, y que podrá identificar a las persona sujeta a este deber.</li>
    <li>
      Proponer a la Junta de Gobierno:
      <ol type="1">
        <li>Un apercibimiento, en caso de que el incumplimiento haya generado un daño leve al interés público.</li>
        <li>El cese, en el caso de que el incumplimiento haya generado un daño grave al interés público. En este supuesto, la medida solo podrá tomarse a propuesta del titular del área de gobierno que corresponda en cada caso.</li>
      </ol>
    </li>
  </ol>

  <p>Cada una de estas medidas se podrá aplicar atendiendo a la naturaleza del sujeto sobre el que recaiga (en caso de los concejales, no se podrá proponer su cese, por ejemplo).

  <p>Para más información, puedes consultar las normas y acuerdos que conforman el marco jurídico del Registro de Lobbies en la Ciudad de Madrid:

  <ul>
    <li><a href="https://sede.madrid.es/sites/v/index.jsp?vgnextfmt=default&vgnextchannel=6b3d814231ede410VgnVCM1000000b205a0aRCRD&vgnextoid=3eabe8e52c796510VgnVCM1000001d4a900aRCRD&titulo1=7&target=texto">Título VI de la Ordenanza de Transparencia de la Ciudad de Madrid y artículos 40.2, 41 y 42.</a></li>
    <li><a href="https://transparencia.madrid.es/FWProjects/transparencia/RelacionCiudadania/RegistroLobbies/Acuerdo_Pleno_28_06_2017.pdf">Acuerdo de 28 de junio de 2017 del Pleno del Ayuntamiento de Madrid por el que se establecen las líneas básicas del Registro de lobbies regulado en la Ordenanza de Transparencia de la Ciudad de Madrid.</a></li>
    <li><a href="https://sede.madrid.es/FrameWork/generacionPDF/boam8060_2790.pdf?numeroPublicacion=8060&idSeccion=f3b7b1a5e9470610VgnVCM1000001d4a900aRCRD&nombreFichero=boam8060_2790&cacheKey=60&guid=d3899999a6370610VgnVCM1000001d4a900aRCRD&csv=true">Acuerdo de 20 de diciembre de 2017 de la Junta de Gobierno de la Ciudad de Madrid por el que se aprueban los criterios de funcionamiento del Registro de lobbies regulado en la Ordenanza de Transparencia de la Ciudad de Madrid.</a></li>
  </ul>
</div>