<div class="row">
  <div class="small-12">
    <div class="box">

      <div class="row">
        <div class="small-12 large-8 columns">

          <strong class="post__date">20 de agosto de 2015 · 09:00</strong>

          <h2 class="post__title-big">Reunión de Seguridad e Infraestructura nueva web</h2>

          <div class="row mb40">
            <div class="small-2 large-1 columns"><a href="#"><span class="icon icon__share">Compartir</span></a></div>
            <div class="small-2 large-1 columns"><a href="#"><span class="icon icon__email">Email</span></a></div>
            <div class="small-2 large-1 columns"><a href="#"><span class="icon icon__feed">RSS</span></a></div>
            <div class="small-2 large-1 columns end"><a href="#"><span class="icon icon__print">Imprimir</span></a></div>
          </div>

        </div>
      </div>

      <div class="row mb40">
        <div class="small-12 large-4 columns">
          <strong class="post__subtitle">Asisten</strong>
        </div>
        <div class="small-12 large-7 end columns">
          <p class="post__description"><strong>Pablo Soto Bravo · Concejal Ahora Madrid, Manuel Maldonado · CTO, Lextrend, José Luis Cano · Director, IAM</strong></p>
        </div>
      </div>

      <div class="row mb40">
        <div class="small-12 large-4 columns">
          <strong class="post__subtitle">Lugar</strong>
        </div>
        <div class="small-12 large-7 end columns">
          <p class="post__text">Ayuntamiento de Madrid, Alcalá 45, Sala Planta 1</p>
        </div>
      </div>

      <div class="row mb40">
        <div class="small-12 large-4 columns">
          <strong class="post__subtitle">Descripción</strong>
        </div>
        <div class="small-12 large-7 end columns">
          <p class="post__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget orci et nulla consequat pharetra. Morbi elementum, elit nec placerat luctus, risus lorem efficitur augue, et ultrices lorem justo vehicula massa. Duis lacinia lacus sit amet purus scelerisque aliquet. Morbi faucibus, mauris quis eleifend tincidunt, magna velit lobortis ante, nec eleifend magna nisl sed metus. Morbi rutrum ex nec arcu iaculis ultrices. Proin pharetra ac risus eu vestibulum. Curabitur consequat nisi et dui blandit feugiat.</p>
        </div>
      </div>

      <div class="row mb40">
        <div class="small-12 large-4 columns">
          <strong class="post__subtitle">Documentación</strong>
        </div>
        <div class="small-12 large-7 end columns">
          <p class="post__text mb20"><a href="#">Acta reunión</a></p>
          <p class="post__text mb80"><a href="#">Resumen conclusiones</a></p>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <p><a href="#">¿Hay algún error en esta página?</a></p>
        </div>
      </div>

    </div><!-- .box -->
  </div>
</div>
