<div class="container">
  <div class="row">
    <h1><%= t('backend.contributors') %></h1>
    <table width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <%= render user, :user => user %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
