<div class="large-12 columns">
  <p class="mt5">
    <strong><%= t('main.results')%></strong> <%= t('main.with_keyword')%>
    <span class="keywords"><strong><%= params[:keyword]%></strong></span>
    <a id="delete-keywords" href="#"><span class="icon icon__delete"><%= t('main.delete')%></span></a>
  </p>
</div>
