<div class="small-12 columns mb10">
  <p>
    <span class="keywords"><%= t('main.events_for') %> </span>
    <strong class="result-m mb20"><%= link_to Holder.find(params[:holder]).full_name, current_url(params: {:holder => params[:holder]})  %></strong>
  </p>
</div>
