<div class="row represented-entities-block" data-new-url="<%= organization_represented_entities_url_pattern(:json) %>">
  <div class="small-10 columns">Empresas Representadas</div>
  <div class="small-2 columns"></div>

  <div id="nested-event-represented-entities">
    <%= f.fields_for :event_represented_entities do |represented_entity| %>
      <%= render 'event_represented_entities_fields', f: represented_entity %>
    <% end %>
  </div>
  <div class="small-12 columns">
    <%= link_to_add_association t('backend.add'), f, :event_represented_entities,
                               partial: "event_represented_entities_fields",
                               id: "event_represented_entities_link",
                               class: "button tiny radius info right",
                               data:  {
                                 association_insertion_node: "#nested-event-represented-entities",
                                 association_insertion_method: "append"
                               } %>
  </div>
</div>
