default: &default
  twitter_key: ""
  twitter_secret: ""
  facebook_key: ""
  facebook_secret: ""
  google_oauth2_key: ""
  google_oauth2_secret: ""

apis: &apis
  census_api_end_point: ""
  census_api_institution_code: ""
  census_api_portal_name: ""
  census_api_user_code: ""
  sms_end_point:  ""
  sms_username: ""
  sms_password: ""

beta_site: &beta_site
  beta_site: true

http_basic_auth: &http_basic_auth
  http_basic_auth: true

development:
  secret_key_base: ""
  <<: *default
  <<: *apis

test:
  secret_key_base: ""
  <<: *default

staging:
  secret_key_base: ""
  server_name: ""
  rollbar_server_token: ""
  http_basic_username: ""
  http_basic_password: ""
  <<: *default
  <<: *apis
  <<: *http_basic_auth

preproduction:
  secret_key_base: ""

