default: &default
  twitter_key: "AAAA"
  twitter_secret: "BBBB"
  facebook_key: "AAAA"
  facebook_secret: "BBBB"
  google_oauth2_key: "AAAA"
  google_oauth2_secret: "BBBB"

apis: &apis
  census_api_end_point: "http://intranet.munimadrid.es:8090/ePobv6/services/EPobService?wsdl"
  census_api_institution_code: "1"
  census_api_portal_name: "MUNIMADRID"
  census_api_user_code: "72PACIU14"
  sms_end_point:  "http://intranet.munimadrid.es:8090/WSSMS_SBPasarela/PasarelaSMS?wsdl"
  sms_username: "035c4368"
  sms_password: "035c4368"

beta_site: &beta_site
  beta_site: true

http_basic_auth: &http_basic_auth
  http_basic_auth: true

development:
  secret_key_base: 56792feef405a59b18ea7db57b4777e855103882b926413d4afdfb8c0ea8aa86ea6649da4e729c5f5ae324c0ab9338f789174cf48c544173bc18fdc3b14262e4
  <<: *default
  <<: *apis

test:
  secret_key_base: 56792feef405a59b18ea7db57b4777e855103882b926413d4afdfb8c0ea8aa86ea6649da4e729c5f5ae324c0ab9338f789174cf48c544173bc18fdc3b14262e4
  <<: *default

staging:
  secret_key_base: 282idjkd0383jrfpfg0383jflog834723hjfpy0jh8hlejsg25628495jglhkhjfhdst2638595606u7sgwfrwgshxjfjkfjueu37850tifjdj38t0t09tidjk3wy237
  server_name: "decidedesa.madrid.es"
  rollbar_server_token: "49524f120ca84936bb1bd8021e8c4d6a"
  http_basic_username: "desa"
  http_basic_password: "vamosapetarlo"
  <<: *default
  <<: *apis
  <<: *http_basic_auth

preproduction:
  secret_key_base: ddf8sjk3jri2i2mjdkgkjquygoh0hklkwjuq728409458yyshdckgleoeuw7848gjsndskgu28910skdjg830howkwkgowos849yuagemfkb8wuygks9gnwkg03uwngk

