production:
  solr:
    hostname: productionhostname
    port: 8080
    log_level: WARNING
    path: /solr-agendas

preproduction:
  solr:
    hostname: preproductionhostname
    port: 8080
    log_level: WARNING
    path: /solr

staging:
  solr:
    hostname: staginghostname
    port: 8080
    log_level: INFO
    path: /solr-agendas

development:
  solr:
    hostname: localhost
    port: 8982
    log_level: INFO
    path: /solr/development

test:
  solr:
    hostname: localhost
    port: 8982
    log_level: WARNING
    path: /solr/test
