<fieldset>
  <legend><%= t('backend.agents.title_fieldset') %></legend>

  <% if organization.agents.any? %>
    <table>
      <thead>
        <tr>
          <th>Agente</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render organization.agents %>
      </tbody>
    </table>
  <% end %>

  <% if organization.new_record? %>
    <div class="info alert-box">
      <%= t "backend.agents.add_association_notice" %>
    </div>
  <% else %>
    <%= link_to t('backend.agents.add_association'),
                new_admin_organization_agent_path(organization),
                class: "button tiny radius info",
                data: {
                  confirm: t('backend.agents.add_association_confirm') } %>
  <% end %>

</fieldset>
