<fieldset>
  <legend>Area de Interés</legend>
  <div class="row">
    <div class="small-12 columns">
      <%= f.collection_check_boxes(:interest_ids, Interest.all, :id, :name) do |f| %>
        <%= f.label class:"small-6 columns" do%>
          <%= f.check_box + f.text %>
        <%end%>
      <% end %>
    </div>
  </div>
</fieldset>
