<fieldset>
  <legend>Representante Legal</legend>
  <div class="row">
    <div id="nested-legal-representant">
      <div class="small-12 columns">
        <%= f.fields_for :legal_representant do |legal_representant_builder| %>
          <%= render 'legal_representant_fields', f: legal_representant_builder %>
        <% end %>
        <%= link_to_add_association "Añadir legal representant", f, :legal_representant,
                                    partial: "legal_representant_fields",
                                    id: "legal_representant_link",
                                    class: "button tiny radius info",
                                    data: {
                                      association_insertion_node: "#nested-legal-representant",
                                      association_insertion_method: "append"
                                    } %>
      </div>
    </div>
  </div>
</fieldset>
