<fieldset>
  <legend>Aceptacion condiciones declaración responsable</legend>
  <div class="row">
    <%= f.label :denied_public_data do %>
      denied_public_data
      <%= f.check_box :denied_public_data %>
    <% end %>

    <%= f.label :denied_public_events do %>
      denied_public_events
      <%= f.check_box :denied_public_events %>
    <% end %>
  </div>
</fieldset>
