<div class="small-12 column mt5 organizations-new">
  <h1><%= t('backend.new_organization_title')%></h1>
  <%= link_to t('backend.back'), admin_organizations_path , :class=> "button tiny radius" %>
</div>
<%= render "form" %>
