.conduct_code{
  ul, li{
    list-style: unset;
  }
}

.statistics{
  .accordion li{
    margin-top: 0;

    .accordion-title{
      background: #003df6;
      color: #fff;
    }

    .border-right{
      border-right: solid 1px #DDDDDD;
    }

    table{
      width: 100%;
    }
  }
}
