<% register_url = 'https://sede.madrid.es/portal/site/tramites/menuitem.1f3361415fda829be152e15284f1a5a0/?vgnextoid=4d629f7aec219210VgnVCM100000171f5a0aRCRD&vgnextchannel=db32275e58889210VgnVCM100000171f5a0aRCRD&vgnextfmt=default' %>
<% certificates_url = 'https://sede.madrid.es/portal/site/tramites/menuitem.1f3361415fda829be152e15284f1a5a0/?vgnextoid=33b09f7aec219210VgnVCM100000171f5a0aRCRD&vgnextchannel=fd9ae59bdb789210VgnVCM100000171f5a0aRCRD&vgnextfmt=default' %>

<h3>Instrucciones generales</h3>
<br/>
<p>
  Para inscribirse en el registro, modificar la inscripción o darse de baja en él es necesario presentar una declaración responsable a través de la Sede electrónica del Ayuntamiento de Madrid, utilizando el <%= link_to 'Registro Electrónico', register_url %>. En este caso, deberán utilizarse los <%= link_to 'certificados electrónicos', certificates_url, name: nil %> admitidos por el Ayuntamiento de Madrid.
</p>
<br/>
 <%= link_to 'Ir a sede electronica', "https://sede.madrid.es/sites/v/index.jsp?vgnextoid=5763386a64370610VgnVCM2000001f4a900aRCRD&vgnextchannel=f47ea38813180210VgnVCM100000c90da8c0RCRD" ,class: 'button expanded button', name: nil %>
