<footer class="footer" role="contentinfo">
      <div class="row">
        <div class="small-12 large-3 mb20 columns">
          <h4 class="title-m">Gobierno <strong>abierto</strong></h4>
          <p>La ciudad que quieres, será la ciudad que quieras. Obtén aquí más información sobre esta página. Este Portal de Gobierno Abierto es <a href="#">software libre AGPLv3</a>, y su código se encuentra en <a href="https://github.com/ayuntamientomadrid">https://github.com/ayuntamientomadrid</a>. De Madrid, para el mundo entero.</p>
        </div>
        <div class="small-12 large-3 mb20 columns">
          <h4 class="title-m">Participación</h4>
          <p>Decide cómo debe ser la ciudad de Madrid que quieres.</p>
        </div>
        <div class="small-12 large-3 mb20 columns">
          <h4 class="title-m">Transparencia</h4>
          <p>Obtén cualquier información sobre el Ayuntamiento de Madrid.</p>
        </div>
        <div class="small-12 large-3 mb20 columns">
          <h4 class="title-m">Datos Abiertos</h4>
          <p>Todos los datos del Ayuntamiento son tuyos.</p>
        </div>
      </div>
    </footer>
