<div class="small-12 medium-3 column">
  <nav class="admin-sidebar">
    <ul id="admin_menu">
      <li>
        <a href="/admin">Administración</a>
      </li>

      <li class=active>
        <a href="/admin/tags">
          <i class="icon-tag"></i>
          <%= t('backend.contributors')%>
        </a>    </li>

      <li >
        <a href="/admin/proposals">
          <i class="icon-proposals"></i>
          <%= t('backend.holders')%>
        </a>    </li>

      <li >
        <a href="/admin/debates">
          <i class="icon-debates"></i>
          <%= t('backend.areas')%>
        </a>    </li>

      <li >
        <a href="/admin/comments">
          <i class="icon-comments"></i>
          <%= t('backend.positions')%>
        </a>    </li>



      <li >
        <a href="/admin/stats">
          <i class="icon-stats"></i>
          Estadísticas
        </a>    </li>
    </ul>
  </nav>

</div>